/* Style général */
html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff5f8;
  color: #333;
}

header, footer {
  background-color: #d214a5; /* SaddleBrown */
  color: white;
  padding: 20px;
  text-align: center;
}

/* Navigation */
nav ul {
  list-style-type: none;
  padding: 0;
}
ul{
  list-style-type: none;
}

nav ul li {
  display: inline-block;
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

nav ul li a:hover {
  color: #FFDAB9; /* Peach Puff */
}

/* Menu responsive */
#menu-toggle {
  display: none;
}

.menu-icon {
  display: none;
  font-size: 28px;
  cursor: pointer;
  color: white;
  padding: 10px;
}

/* Responsive menu */
@media (max-width: 768px) {
  nav ul {
    display: none;
    flex-direction: column;
    background-color: #d214a5;
    position: absolute;
    width: 100%;
    top: 60px;
    left: 0;
    text-align: center;
  }

  #menu-toggle:checked + .menu-icon + nav ul {
    display: flex;
  }

  .menu-icon {
    display: block;
  }

  nav ul li {
    margin: 10px 0;
  }
}

/* Sections */
section {
  padding: 40px 20px;
  text-align: center;
}

/* Sections alternées */
section:nth-child(even) {
  background-color: #fceff2;
}

/* Galerie d'images */
.images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.images img {
  width: 100%;
  max-width: 200px;
  height: auto;
  border-radius: 10px;
}

/* Formulaire */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form input,
form textarea {
  width: 300px;
  margin: 10px;
  padding: 10px;
}

form button {
  background-color: #d214a5;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

form button:hover {
  background-color: #d214a5; /* Chocolate */
}
